body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.floating-label-container{
  position: relative;
  width: 300px;
}

.floating-input{
  background: transparent;
  color: white;
  width: 100px;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.floating-input:focus{
  border-color: #007BFF;
}

.floating-label{
  position: absolute;
  top: 50%;
  left: 12px;
  font-size: 14px;
  color: #aaa;
  transition: 0.3s;
  transform: translateY(-50%);
  pointer-events: none;
}

.floating-input:focus + .floating-label,
.floating-input:not(:placeholder-shown) + .floating-label{
  top: -20px;
  left: 12px;
  color: white;
}
