body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.fade-placeholder-input{
  border: 1px solid yellow;
  border-radius: 10px;
  padding: 10px;
  color: white;
  background: transparent;
  transition: 1s ease;
}

.fade-placeholder-input:focus{
  outline: none;
}

.fade-placeholder-input:hover{
  box-shadow: 0px 3px 30px yellow;
}

.fade-placeholder-input::placeholder{
  color: #aaa;
  transition: opacity 0.4s ease;
}

.fade-placeholder-input:hover::placeholder{
  opacity: 0;
}
